//FONTS
$font-primary: "Montserrat", sans-serif;

// COLORS //
$wild-watermelon: #ff6b81;
$watermelon: #ff4757;
$coral: #ff7f50;
$tomato: #ff6348;
$golden-sand: #eccc68;
$orange: #ffa502;
$lime: #7bed9f;
$green: #2ed573;
$sky-blue: #70a1ff;
$chill: #1e90ff;
$sky: #5352ed;
$greek: #3742fa;
$off-white: #f1f2f6;
$off-white-dark: #dfe4ea;
$gray: #ced6e0;
$snow: #f5f5f5;

// BOX SHADOW

$normal-bs: 9px 9px 20px rgba(#d9dadd, 0.9), -9px -9px 20px rgba(#fff, 0.9);

$inset-bs: -1.5rem -1.5rem 1.5rem rgba(#fff, 0.5),
  1.5rem 1.5rem 1.5rem rgba(#464646, 0.12),
  inset 9px 9px 20px rgba(#d9dadd, 0.9), inset -9px -9px 20px rgba(#fff, 0.9);

$primary-normal-bs: 9px 9px 20px rgba($tomato, 0.9),
  -9px -9px 20px rgba(#fff, 0.9);

$primary-inset-bs: 9px 9px 15px rgba($tomato, 0.9),
  -9px -9px 20px rgba(#fff, 0.9), inset 9px 9px 20px rgba(#000, 0.15),
  inset -9px -9px 20px rgba(#fff, 0.1);
