//FONTS
$font-primary: "Montserrat", sans-serif;

// COLORS //
$wild-watermelon: #ff6b81;
$watermelon: #ff4757;
$coral: #ff7f50;
$tomato: #ff6348;
$golden-sand: #eccc68;
$orange: #ffa502;
$lime: #7bed9f;
$green: #2ed573;
$sky-blue: #70a1ff;
$chill: #1e90ff;
$sky: #5352ed;
$greek: #3742fa;
$off-white: #f1f2f6;
$off-white-dark: #dfe4ea;
$gray: #ced6e0;
