.input-field {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
}
.input-field label {
  font-family: $font-primary;
  font-weight: 500;
  font-size: 1.5rem;
  display: block;
  margin-bottom: 1rem;
  text-transform: capitalize;
}
.input-field input {
  background-color: $off-white;
  font-family: $font-primary;
  width: 100%;
  border: none;
  padding: 1rem;
  font-size: 1.6rem;
  height: 4.5rem;
  border-radius: 8px;
  box-shadow: $inset-bs;
  transition: box-shadow 0.3s;

  &:focus,
  &:active {
    outline: none;
    box-shadow: $normal-bs;
  }
}

.input-field p {
  display: inline-block;
  margin-top: 1.5rem;
  font-family: $font-primary;
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: auto;
  align-self: flex-end;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    transform: scale(1.1);
    color: $tomato;
  }
}
