.login-form {
  @include form;
  grid-column: 2 / -1;
}

.login-form-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 3rem;

  &_or-text {
    display: flex;
    font-family: $font-primary;
    font-weight: 600;
    font-size: 1.2rem;
    align-self: center;
    width: 100%;
    margin-top: 3rem;
    align-items: center;

    &:before,
    &:after {
      content: "";
      flex: 1 1;
      height: 1px;
      background-color: $gray;
    }
    &:before {
      margin-right: 1rem;
    }
    &:after {
      margin-left: 1rem;
    }
  }
}
