.login-hero {
  grid-column: 1 / 2;
  height: 100%;
  width: 100%;
  padding: 5rem;
  border: 1px solid black;

  &_container {
    display: flex;
    flex-direction: column;
  }
  &_heading {
    font-family: $font-primary;
    font-size: 6rem;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.2;
    & span {
      color: $tomato;
    }
  }
  &_img {
    margin-top: 6.5rem;
    align-self: flex-end;
    width: 75%;
    transition: all 0.3s;
    margin-right: 2rem;
    &:hover {
      margin-top: 8rem;
      transform: scale(1.2);
    }
  }
}
