.login-form {
  grid-column: 2 / -1;
  padding: 5rem;
  display: flex;
  align-items: center;
  width: 100%;

  &_container {
    display: flex;
    flex-direction: column;
    width: 70%;
  }
  &_heading {
    font-weight: 600;
    font-family: $font-primary;
    font-size: 4rem;

    & p {
      font-size: 1.5rem;
      margin-top: 1rem;
    }
  }
}

.login-form-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 3rem;

  &_or-text {
    display: flex;
    font-family: $font-primary;
    font-weight: 600;
    font-size: 1.2rem;
    align-self: center;
    width: 100%;
    margin-top: 3rem;
    align-items: center;

    &:before,
    &:after {
      content: "";
      flex: 1 1;
      height: 1px;
      background-color: $gray;
    }
    &:before {
      margin-right: 1rem;
    }
    &:after {
      margin-left: 1rem;
    }
  }
}
